.mainDivOne {
  background-color: #E8C023;
  display: flex;
  justify-content: center;

  gap: 20px;
}

.titleNav {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.7rem;

}

.titleNav:hover {
  background-color: black;
  cursor: pointer;
}

.close {
  display: none;
}

.open {
  display: none;
}

.bgClose {
  background-color: inherit;
}

@media (orientation :portrait) {
  .mainDivOne {
    display: flex;
    flex-direction: column;
  }

  .close {
    display: block;
  }

  .open {
    display: block;
  }
}