.div-main-five {
  margin: auto;
  flex-direction: column;
  display: flex;
  width: 50%;
  text-align: center;
  margin-top: 2rem;
}

.textArea {
  width: 100%;
  height: 4rem;
  background-color: #EDEDED;
  color: white;
  border: none;
}

.input-text {
  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #EDEDED;
  color: white;
  border: none;
}

.div-input-five {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.btn-send-five {
  background-color: #E8C023;
  color: #ffffff;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  font-size: 1rem;

}

.second-title-five {
  font-size: 2rem;
  font-weight: 600;
}

.developer {
  text-align: center;
  background-color: #272727;
  color: white;
  margin-top: 2rem;

}

.name-developer {
  font-size: 1rem;
  padding: 0.3rem;
}

@media (orientation :portrait) {

  .div-main-five {
    width: 90%;
  }

  .div-input-five {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .input-text {
    width: 100%;
  }
}